{{#each posts as |post| }}
  <div class="column mb-12 solid-border vert-space">
    <div class = "flex-row justify-space-between header-fill header-color text-padding">
        <h5>
          <a class="dk-hdr-tx" href="/comments/{{id}}">{{post.title}}</a>
        </h5>
        <p class="dk-hdr-tx">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <div class="flex-row justify-space-between header-color text-padding">
      <p>
        {{post.text}}
      </p>
    </div>
  </div>
{{/each}}
<div class="row" id="new_Post_block" style="display: none;">
  <div class="col-md-12 vert-space">
    <div class="column mb-12 solid-border">
      <h4 class = "header-fill text-padding dk-hdr-tx">Create New Post</h4>
      <form class="form dashboard-form contained">
        <div class="form-group">
          <label for="new-post-title">Title</label>
          <input class="form-input" type="text" id="new-post-title" />
        </div>
        <div class="form-group">
          <label for="new-post-text">Content</label>
          <textarea class="form-input text-at-top" rows="4" type="text" id="new-post-text"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary spc-btn-width" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<button class = "row btn btn-primary" onclick = "toggleVisable()" id="create" type="submit">+New</button>    
<script>console.log("dashboard.handlebars");</script>
<script src="./js/dashboard.js"></script>